/*this is for the body styling*/
body {
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    background-color: rgb(27, 26, 26);
    background-image: linear-gradient(rgb(42, 95, 106),rgb(30, 27, 74));
    font-size: 12;
    text-align: left;
    padding: auto;
}

/*aligning all my plain text*/
p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*aligning my title*/
h1 {
    text-align: center;
}

/*styleling my image inad aligning it*/
.image {
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
    width: 50%;
    justify-content: left;
}

/*centering form to bring user back to the search page*/
.search {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/*formatting my wikipedia link*/
.wiki {
    text-align: left;
    color: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*formatting my home button*/
.home_button {
    display: flex;
    justify-content: center;
}

.comment {
    display: block;
    justify-content: right;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    vertical-align: top;
    float: right;
}