<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='search_movie_form.css') }} />
    </head>
    <body>
        <h2>search for movies</h2>
        <form action="/search_movie_display" method="POST" class="search_form">
            <input type="text" name="movie_name" id="movie_name"/>
            <input type="submit" value="search movies"/>
        </form>

        <p>back to the home page</p>
        <form action="/home" method="POST" class="home_button">
            <input type="submit" value="home"/>
        </form>
    </body>
</html>