<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='search_movie_form.css') }} />
    </head>
    <body>
        <h2>search for movies</h2>
        <form action="/search_movie_display" method="POST" class="search_form">
            <input type="text" name="movie_name" id="movie_name"/>
            <input type="submit" value="search movies"/>
        </form>

        <p>leave a comment</p>
        <form method="POST" action="/comment_handler" class="search_form">
            <textarea rows="6" cols="25" placeholder="This is the default text" name="comment" id="comment"></textarea>
            <input type="submit" value="submit"/>
        </form>

        <p>back to the home page</p>
        <form action="/home" method="POST" class="home_button">
            <input type="submit" value="home"/>
        </form> 
    </body>
</html>