<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='search_movie_display.css') }} />
    </head>
    <body>
        <div class="nav">
            <!-- <h3 class="search">back to search page</h3> -->
            <form action="/search_movie_form" method="POST">
                <input type="submit" value="search" />
            </form>
            <form action="/home" method="POST">
                <input type="submit" value="home"/>
            </form>
        </div>

        <!--this is displaying the data for the movie that has been searched-->
        <h2>movie title: {{title}}</h2>
        <img src={{poster}} class="image">
        <p>tagline: {{tagline}}</p>
        <p>genre: {{genre}}</p>
        <a class = "wiki" href={{link}}>link to wiki page</a>
        <br>
        <br>
        <div class = "comment">
            <form action="/comment_handler" method="POST" class="comment">
                <input type="text" name="movie_name" id="movie_name" placeholder="movie name" class="comment"/>
                <textarea rows="10" cols="20" placeholder="your comment" name="comment" id="comment" class="comment"></textarea>
                <!-- <input type="text" name="comment" id="comment" placeholder="comment" class="comment"/> -->
                <input type="text" name="rating" id="rating" placeholder="rating" class="comment"/> <p>out of 10</p>
                <br>
                <input type="submit" value="leave a comment" class="comment"/>
            </form>
        </div>

        <div class="comment_display">
            <h2>what others had to say</h2>
            {% if comments %}
                {%  for i in range(size) %}
                    <p>"{{comments[i]}}" - {{users[i]}}</p>
                    <p>rating {{ratings[i]}}/10</p>
                {%  endfor %}
            {% endif %}
        </div>
    </body>
</html>