<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='search_movie_display.css') }} />
    </head>
    <body>
        <!--this is displaying the data for the movie that has been searched-->
        <p>movie title: {{title}}</p>
        <img src={{poster}} class="image">
        <div class = "comment">
            <!--<h4 class="comment">leave a comment</h4>-->
            <form action="/comment_handler" method="POST" class="comment">
                <input type="text" name="movie_name" id="movie_name" placeholder="movie name"/>
                <textarea rows="25" cols="35" placeholder="your comment" name="comment" id="comment"></textarea>
                <br>
                <input type="submit" value="leave a comment"/>
            </form>
        </div>
        <p>tagline: {{tagline}}</p>
        <p>genre: {{genre}}</p>
        <a class = "wiki" href={{link}}>link to wiki page</a>
        <br>
        <br>
        <br>
        <br>

        <div class="comment_display">
            <h4>comments</h4>
            {% if comments %}
                {%  for comment in comments %}
                    <p>{{comment}}</p>
                {%  endfor %}
            {% endif %}
            <h4>users</h4>
            {% if users %}
                {%  for user in users %}
                    <p>{{user}}</p>
                {%  endfor %}
            {% endif %} 
        </div>

        <div class="search">
            <h4 class="search">back to search page</h4>
            <form action="/search_movie_form" method="POST" class="search">
                <input type="submit" value="search"/>
            </form>
        </div>

        <h4 class="home_button">back to the home page</h4>
        <form action="/home" method="POST" class="home_button">
            <input type="submit" value="home"/>
        </form>
    </body>
</html>