<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='signup.css') }} />
    </head>

    <body>
        <!--making my flash work if username is wrong-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {%  for message in messages %}
                <b>{{message}}</b>
            {%  endfor %}
        {% endif %}
        {% endwith %}
        
        <form method="POST" action="/signup" class="signup">
            <input type="text" name="username" id="username"/>
            <input type="submit" value="signup"/>
            <br>
        </form>
    
        <p>login if you already have an account</p>
        <form action="/login_form" method="POST" class="signup">
            <input type="submit" value="login"/>
        </form>
    </body>
</html>